@model BlogCore.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h2 class="text-center text-white py-1">Latest Additions</h2>
    </div>
</div>


@if (Model.Items.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var item in Model.Items.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@item.ImageURL" class="img-thumbnail" width="100%"/>
                    <div class="card-body">
                        <h5 class="text-center">@item.Name</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:10px;" asp-route-id="@item.Id">
                            View More
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else{

}
