@model BlogCore.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<br />
<br />

<h3 class="text-center">Edit a Category</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">

            @* name *@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="control-label"></label>
                </div>

                <div class="col-8">
                    <input asp-for="Name" class="form-control" placeholder="Enter a Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <br />

            @* Order *@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order" class="control-label"></label>
                </div>

                <div class="col-8">
                    <input asp-for="Order" class="form-control" placeholder="Enter the order" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Edit Category</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Back</a>
                </div>
            </div>         

        </div>
    </div>
</form>