@model BlogCore.Models.ViewModels.HomeViewModel

@* slider *@
<div id="images-slider" class="carousel slide">
    <div class="carousel-inner">
        @{
            int count = 0;
        }

        @foreach (var slider in Model.Sliders)
        {
            var dynamicItem = count++ == 0 ? "active" : "";

            @if(slider.State == true)
            {
                <div class="carousel-item @dynamicItem">
                    <img src="@Url.Content(slider.ImageURL)" class="d-block w-100" alt="@slider.Name">
                    <h4 class="text-dark text-center bg-light py-1">@Html.Raw(slider.Name)</h4>
                </div>            
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#images-slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#images-slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@* end *@